header {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  padding: 25px;
}

.navbar {
  max-width: 1240px;
  height: 100%;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.logos {
  color: white;
  padding: 5px;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
}
.hamburger {
  display: none;
  position: absolute;
  top: 38px;
  right: 10px;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-self: start;
}
.nav-item {
  padding: 0 1.5rem;
}

.nav-link {
  color: white;
}

@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darkey);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
    font-size: 1.8rem;
  }
}
